<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="assets\about.css">
	<title>About</title>
	
</head>
<body>
		<ul>
			<li class="active"><a href="index.ejs">Home</a></li>
			<li><a href="about.ejs">About</a></li>
			<li><a href="database.ejs">Database</a></li>
			<li><a href="kontroll.ejs">Control panel</a></li>
			<li class="log-inn"><a href="login.ejs">Login</a></li>
		</ul>
	<h1>Vi er gruppe nr 24</h1>
	<h3>5 studenter som går andre klasse elektroingeniør<br> Vi har prosjekt i faget datakommunikasjon</h3>
	<img class="web-img" src="assets/Iot_2.png">
	<div class="footer"><h4>Gruppe 24</h4></div>
</body>
</html>