<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="assets/database.css">
	<title>help</title>
	
</head>
<body>
		<ul>
			<li class="active"><a href="index.ejs">Home</a></li>
			<li><a href="about.ejs">About</a></li>
			<li><a href="database.ejs">Database</a></li>
			<li><a href="kontroll.ejs">Control panel</a></li>
			<li class="log-inn"><a href="login.ejs">Login</a></li>
		</ul>
	<div class="info"><h1>Vi er gruppe nr 24</h1>
	<h3>Du er nå innlogget!</h3>
	<p>Vi tilbyr alt innen Iot, vi hjelper deg gjerne på vei med din Iot drøm!</p>
	<p id ="signout">Vil du logge av?<a href="/sessionLogout">Sign out!</a></p></div>
	<div class="footer"><h4>Gruppe 24</h4></div>
</body>
</html>