<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets\index.css">
	<title>Datakommunikasjon</title>
</head>
<body>
		<ul>
			<li class="active"><a href="index.ejs">Home</a></li>
			<li><a href="about.ejs">About</a></li>
			<li><a href="database.ejs">Database</a></li>
            <li><a href="kontroll.ejs">Control panel</a></li>
			<li class="log-inn"><a href="login.ejs">Login</a></li>
		</ul>
	<h1>Prosjekt Datakommunikasjon!</h1>
	<h3>Nettside for trådløs kontroll og oversikt<br> over zumo bilen og forskjellige sensorer</h3>
	<img class="web-img" src="assets/esp32.jpg.png">
	<div class="footer"><h4>Gruppe 24</h4></div>	
</body>
</html>